body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(15,4,36,1) 62%);
}
.row{
    margin-top: 20px;
}

.images{
    width: 100%;
    margin: 20px;
    transition: 0.25s;
}
.images:hover{

    transform: translate(-10px, -10px);
    box-shadow: 12px 12px 2px 1px rgb(135, 135, 135);
}
header{
    text-align: center;
    top: 0;
    background-color: transparent;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: #ffffff;
    margin: 0;

    padding: 10px;
    height: 100px;
}

.image{
    position: fixed;
    max-width: 900px;
    width: 100%;
    top: 50%;
    left: 50%;
    height: 600px;
    transform: translate(-50%, -50%); 
    scale:(1.2);
    z-index: 101; 
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    /* opacity: 0;
    pointer-events: none;  */
    display: none;
    transition: all 0.4s ease-out;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    border-color: transparent;
    background-color: aliceblue;
    max-width: 30px;
    width: 100%;
    transition: 0.25s;
}
.close:hover{
    background-color: royalblue;
}

.icon{
    position: absolute;
    right: 20px;
    bottom: 40px;
    color: black;
    width: 50px;
    height: 40px;
}
.btn{
    background-color: #fff;
}

.btn:hover{
    background-color: royalblue;
}